img {
  width: 100%;
}

body {
  margin:0;
  overflow:hidden;
  font-family: Source Sans Pro,Tahoma,sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.container .btn {
  position: absolute;
  top: 3%;
  left: 93%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 14px 14px;
  border: none;
  cursor: pointer;
}

.container .btn:hover {
  background-color: rgb(255, 191, 0);
}