y {
    background-color: white;
    font-size: 14px;
}

h1 {
    color: #2D354D;
}
#WidgetContainer {
    padding: 0px;
}

.bloc_espace {
    border: 0 solid blue;
    height: 20px;
    width: 100%;
}

.paddingLeft_Admin {
    padding-left: 0;
}

.td_TablePageAdmin_col1 {
    width: 250px;
}

#div_aide{
    box-shadow: 0 10px 10px rgba(0,0,0,.25);
}

#interieur_div{
    height: auto !important;
    max-height: 500px;
    background: white !important;
}
#texte_aide{
    height: auto !important;
}

.FontTexteTableauBord{
    color: #4C5775;
    font-size: 13px;
    border-collapse: collapse;
}

.FontTexteTableauBord td{
    border-top: 1px solid #eee;
    padding: 5px;
}

.FontTexteGrasNoir td{
    border: 0;
}

.justifs_inline{
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.user_anomalies_solde{
    text-align: right;
}

.user_abs_a_justifier_solde{
    width: 35px;
    text-align: right;
}

.titre_bloc_admin_justifs{
    color: #2D354D;
    font-weight: bold;
    padding-top: 5px;
    font-size: 18px;
}

.titre_bloc_admin_no_justifs{
    color: #2D354D;
    font-weight: bold;
    padding-top: 5px;
    font-size: 18px;
}

.titre_bloc_admin_justifs_hover{
    text-decoration: underline;
    cursor: pointer;
}

.link_user_justifs_solder_compte{
    text-decoration: underline;
    font-weight: normal;
    color: #2D354D;
    white-space: nowrap;
}
.div_link_cancel{
    padding-left: 80px;
}
.txt_justifs_cancel{
    color: #7B7BB5;
    font-weight: bold;
}

.admin_justifs_titre{
    color: #7B7BB5;
    font-size: 18px;
    font-weight: bold;
}
.tableau_bloc_justifs_fleches{
    background-image: url('../../../../../Figgo/WebnetRTT/Application/Images/ImagesWebnet/collapse.png');
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 8px;
}

.admin_justifs_aide{
    background-image: url('../../../../../Figgo/WebnetRTT/Application/Images/ImagesWebnet/help.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: scale(.7);
}

.nb_a_crediter{
    width: 34px;
    border: 1px solid white;
    font-size: 10pt;
    font-family: 'Source Sans Pro';
    color: #2D354D;
    text-align: right;
    border-bottom: 1px solid grey;
}

.send-link{
    cursor: pointer;
    padding-left: 20px;
    text-decoration: underline;
}

.persist{
    cursor: pointer;
    padding-left: 20px;
}

.send_link:hover{
    text-decoration: none!important;
}

.nb_a_crediter:hover, .nb_a_crediter:focus{
    border: 1px solid grey;
}

#bloc_justifs_aide_icone{
    text-decoration: none;
}

#bloc_abs_a_justifier_aide_icone{
    text-decoration: none;
}

#bloc_anomalies_aide_icone{
    text-decoration: none;
}

.bloc_admin_justifs_aide{
    display: none;
    text-decoration: none;
    background-color: #DCDDFE;
    color: #2D354D;
    margin-top: 10px;
    padding: 15px 25px;
    max-width: 850px;
    position:relative;
    line-height: 1.5;
}

#tableau_bloc_anomalies_fleche{
    text-decoration: none;
}

#tableau_bloc_abs_a_justifier_fleche{
    text-decoration: none;
}

#tableau_bloc_justifs_fleche{
    text-decoration: none;
}

#tableau_bloc_justifs{
    margin-left: 2px;
}

#tableau_bloc_abs_a_justifier{
    margin-left: 2px;
}

#tableau_bloc_anomalies{
    max-width: 800px;
}

.div_admin_justifs_aide_close{
    background-image: url('../../../../../Figgo/WebnetRTT/Application/Images/ImagesWebnet/close.png');
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.link_parametrer_comptes:hover{
    text-decoration: underline;
    color: black;
}

#popin-justif {
    max-width: 900px;
}

#popin-justif-content {
    margin: 10px;
}
#popin-justif-content .justif-explanation {
    margin-bottom: 20px;
}
#popin-justif-content .checkbox-container {
    padding: 5px;
    height: 21px;
}

#popin-justif-content .checkbox-container:hover {
    background-color: #F1F4F9;
}

#popin-justif-content input[type=checkbox] {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
#popin-justif-content .withoutCheckbox {
    margin-left: 30px;
}
#popin-justif-content .justif-manipulation-container {
    display: inline-block;
    text-align: right;
    float: right;
    margin-left: 1em;
}
#popin-justif-content a {
    display: inline-block;
    text-decoration: underline;
    font-weight: normal;
    color: #2D354D;
    font-size: 10pt;
}
#popin-justif-content .justif-preview a {margin-left: 5px;}

#popin-justif-content .downloadLink {
    margin-left: 2em;
    margin-right: 1em;
}
#popin-justif-content .fileChooser {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}

.justif-preview img {
    display: block;
    max-width: 480px;
}

.remind-popup {
    display: none;
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 8px;
    background-color: #f7f9fd;
    border: 1px solid #CCD1E0;
    z-index: 10;
}

.remind-popup textarea {
    border: 1px solid #CCD1E0;
    border-radius: 2px;
    height: 180px;
    width: 350px;
    color: #4C5775;
    padding: 10px 20px;
    margin-bottom: 8px;
    display: block;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Source Sans Pro",sans-serif;
}

.remind-popup .icon-closexs {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.cancelButton {
    margin-left: 8px;
}

#div_body_principal{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px 60px;
    float: none;
    width: 100%;
    box-sizing: border-box;
}

.content-section{
    margin-bottom: 45px;
}

.admin-table{
    border-collapse: collapse;
    margin: 15px 0;
    width: 100%;
    font-size: 14px;
}

.admin-table th{
    text-align: left;
    padding: 11px 10px;
    border-bottom: 1px solid #eee;
}

.admin-table a{
    color: #9299B0;
}

.admin-table a:hover{
    color: #2D354D;
}

.admin-table td{
    position: relative;
    padding: 11px 10px;
    border-bottom: 1px solid #eee;
}

.admin-table .lucca-icon{
    margin: -11px -5px;
    transform: scale(.65);
    pointer-events: none;
}

.icon-paperclip{
    cursor: pointer;
    margin:-8px 0;
}

.u-nowrap{
    white-space: nowrap;
}

.last_reminder{
    font-size: 12px;
    color: #9299B0;
    display: block;
    width: 150px
}

.last_reminder.mod-live {
    color: #75DA52;
}

.last_reminder.mod-larger{
    width: auto;
}

.bloc_admin{
    border: 1px solid #ddd;
    border-radius: 3px;
    background: white;
    color: #2D354D;
    padding: 15px 30px 30px;
    width: auto;
}

.FontTexteNormalNoir{
    color: #2D354D;
    font-size: inherit;
    font-family: "Source Sans Pro",sans-serif;
}

.FontTexteGrasNoir{
    color: #2D354D;
    font-weight: bold;
    font-size: inherit;
    font-family: "Source Sans Pro",sans-serif;
}

a.LienClassique{
    color: #7072D2;
}
a.LienClassique:hover{
    opacity: .75;
}

.TablePageAdmin_800{
    border-collapse: collapse;
    margin: 15px 0;
    width: 100%;
}

.TablePageAdmin_800 td{
    padding: 5px 10px !important;
    border: 0 !important;
    border-bottom: 1px solid #eee !important;
}

.TablePageAdmin_800 tr:first-child td{
    text-align: right;
}

.TablePageAdmin_800 tr:first-child td:first-child{
    text-align: left;
}

#bloc_valideurs{
    margin-top: 30px;
}

.justifPreviewPopup{
    left: -176px;
    top: 42px;
}

