@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src: url(/static/figgo/www/fonts/Source_Sans_Pro-italic-400-63f8016b44.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 700;
	src: url(/static/figgo/www/fonts/Source_Sans_Pro-italic-700-dbccded0a5.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: url(/static/figgo/www/fonts/Source_Sans_Pro-normal-300-6255adef27.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url(/static/figgo/www/fonts/Source_Sans_Pro-normal-400-f94f84eb86.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url(/static/figgo/www/fonts/Source_Sans_Pro-normal-700-d9d2bac7a7.woff) format('woff');
}